.block--advantages {
    background-image: url('/img/backgrounds/advantages-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: $padding * 6 0;

    @include media-max(768px) {
        padding: $padding * 4 0;
    }

    .block__title {
        color: $font-color-light;
        margin-bottom: $padding * 2.5;

        @include media-max(560px) {
            margin-bottom: $padding * 0.5;
        }
    }
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$padding;
    margin-right: -$padding;
    justify-content: center;

    @include media-max(768px) {
        margin-left: -$padding * 0.5;
        margin-right: -$padding * 0.5;
    }
}

.advantage {
    background-color: $background-color;
    border-radius: $border-radius;
    background: radial-gradient(50px 50px at 75% -6px, rgba(0, 0, 0, 0) 58.5px, white 59.5px);
    position: relative;
    padding: $padding * 2;
    margin: $padding * 1.25 + 43px $padding 0;
    display: flex;
    flex-direction: column;

    width: calc(33.333% - 32px);
    //width: 368px;

    @include media-max(1024px) {
        width: calc(50% - 32px);
    }
    @include media-max(800px) {
        margin: $padding * 1.25 + 43px $padding * 0.5 0;
        width: calc(100%);
        max-width: 570px;
    }
    @include media-max(425px) {
        background: radial-gradient(50px 50px at 73% -5px, rgba(0, 0, 0, 0) 41.5px, white 42.5px);
    }


    &--lg {
        width: calc(50% - 32px);

        @include media-max(800px) {
            width: calc(100%);
            max-width: 570px;
        }
    }

    &__icon {
        position: absolute;
        left: calc(75% - 40px);
        top: -43px;

        @include media-max(425px) {
            width: 60px;
            height: 60px;
            top: -33px;
            left: calc(75% - 36px);
        }
    }

    &__counter {
        position: absolute;
        color: $font-color-light;
        right: 16px;
        top: -23px;
        font-size: 1.6rem;
        line-height: 1;
        font-weight: 700;
    }

    &__name {
        width: 60%;
        display: block;
        color: $font-color-black;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.2rem;
        margin-bottom: $padding;
    }

    &__text {
        font-size: 1.4rem;
        font-family: 'OpenSans', sans-serif;
        font-weight: 600;
        margin: 0;
    }
}
