.block--articles {
    @include media-max(425px) {
        margin-top: $padding * 2.25;
    }
}

.articles-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $padding * 1.875;
    margin-top: $padding * 3.5;


    @include media-max(768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: $padding * 2.5;
    }
    @include media-max(560px) {
        grid-template-columns: repeat(1, minmax(0, 370px));
        justify-content: center;
        margin-top: $padding;
    }

    &__more-btn {
        display: none;
        max-width: 275px;
        margin: $padding * 2 auto 0;

        @include media-max(560px) {
            display: block;
        }
    }
}

.article-prew {
    max-width: 370px;

    &__photo {
        display: block;
    }

    &__img {
        @extend .img-in-box;
        margin-bottom: $padding * 1;
        border-radius: $border-radius;
        transition: box-shadow $transition;

        &:hover {
            box-shadow: 5px 5px 30px rgba(62, 65, 91, 0.2);
        }
    }

    &__title {
        font-weight: 700;
        display: block;
        color: $font-color-black;
        margin-bottom: $padding * 0.75;
        transition: color $transition;

        &:hover {
            color: $accent-hover-color;
        }
        &:active {
            color: $font-color-black;
        }
    }

    &__text {
        font-family: 'OpenSans', sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        margin-top: $padding * 0.25;
        margin-bottom: 0;
    }
}

.tags {
    @extend .ul-reset;

    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-bottom: $padding * 0.5;

        &:not(:last-child) {
            margin-right: $padding * 0.5;
        }
    }

    &__item__link {
        display: block;
        color: $accent-color;
        padding: $padding * 0.5 $padding * 1.25;
        background-color: $content-bg-color;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2;
        border-radius: 15px;
        transition: background-color $transition, transform $transition;

        &:hover {
            background-color: darken($content-bg-color, 5%)
        }
        &:active {
            transform: scale(0.9);
        }

        &--active {
            color: $font-color-light;
            background-color: $accent-color;

            &:hover {
                background-color: darken($accent-color, 15%)
            }
        }
    }

    &__date {
        margin-left: $padding * 0.875;
        align-self: baseline;
        padding-top: 4px;
        font-family: 'OpenSans', sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
    }
}
