.article-cards {
    margin-top: $padding * 3.75;
}

.article-cards + .block--has-quest {
    margin-top: 0;
}


.article-card {
    padding: $padding * 3.75 0;
    background-color: $content-bg-color;

    @include media-max(560px) {
        padding: $padding * 2.5 0;
    }

    &--white {
        background-color: $background-color;
    }

    &__container {
        display: flex;
        align-items: flex-start;

        @include media-max(860px) {
            flex-wrap: wrap;
            flex-direction: column;
        }
    }

    &__photo {
        display: block;
        max-width: 370px;

        &:hover {
            .article-card__img {
                box-shadow: 5px 5px 30px rgba(62, 65, 91, 0.2);
            }
        }

        @include media-max(860px) {
            order: 2;
        }

        & + .article-card__content {
            margin-right: 0;
            margin-left: $padding * 2 - 2;

            @include media-max(860px) {
                margin: 0;
            }
        }
    }

    &__img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: $border-radius;
        transition: box-shadow $transition;
    }

    &__content {
        margin-right: $padding * 2.25;
        flex: 1;

        @include media-max(860px) {
            margin: 0;
            order: 3;
        }
    }

    &__title {
        font-size: 2.4rem;
        color: $font-color-black;
        margin: 0 0 $padding 0;

        @include media-max(860px) {
            display: none;
        }

        &--mobl {
            display: none;

            @include media-max(860px) {
                display: block;
                font-size: 2.2rem;
            }
        }
    }

    &__text {
        font-size: 1.4rem;
        font-family: 'OpenSans', sans-serif;
        font-weight: 600;
        margin-bottom: $padding;
    }

    ul {
        padding: 0 0 0 $padding * 1.75;
        list-style-type: none;
        margin: $padding * 1.25 0;
        font-family: 'OpenSans', sans-serif;
        font-weight: 600;

        @include media-max(560px) {
            padding: 0;
        }
    }

    ul li {
        font-size: 1.4rem;
        font-family: 'OpenSans', sans-serif;
        font-weight: 700;
        color: $font-color-black;
        position: relative;
        padding-left: 23px;

        &:not(:last-child) {
            margin-bottom: $padding * 0.25;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 13px;
            height: 11px;
            background-image: url('/img/icons/correct-symbol.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}
