.banner {
    color: $font-color-light;
    margin: auto;

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        //flex-wrap: wrap;

        @include media-max(1140px) {
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-bottom: $padding * 7.5;

            @include media-max(560px) {
                margin-bottom: $padding * 3.75;
            }
        }
    }

    &__title {
        max-width: 805px;
        font-size: 6rem;
        margin: 0;
        line-height: 1.3;

        @include media-max(1140px) {
            text-align: center;
        }
        @include media-max(768px) {
            font-size: 5rem;
        }
        @include media-max(620px) {
            font-size: 4rem;
        }
        @include media-max(560px) {
            font-size: 2.6rem;
            text-align: left;
        }
    }
    &__descr {
        flex: 1;
        max-width: 220px;
        margin-left: $padding * 1.75;
        align-self: center;
        font-size: 2rem;

        @include media-max(1140px) {
            align-self: auto;
            max-width: initial;
            margin-left: 0;
            font-size: 2rem;
            text-align: center;
        }
        @include media-max(768px) {
            font-size: 1.8rem;
        }
        @include media-max(560px) {
            order: -1;
            background-color: rgba(#363636, 0.3);
            padding: $padding * 0.75 $padding * 2;
            font-size: 1.4rem;
            border-radius: 26px;
            margin-bottom: $padding * 1.25;
            margin-top: 0;
        }
    }

    &__quest {
        font-size: 2rem;
        text-align: right;
        margin-right: $padding * 2;

        @include media-max(1140px) {
            margin-bottom: $padding * 2;
            text-align: center;
            margin-right: 0;
        }
        @include media-max(768px) {
            font-size: 1.8rem;
        }
        @include media-max(560px) {
            font-size: 1.4rem;
            font-weight: 700;
            text-align: left;
        }

        p {
            margin: 0;

            @include media-max(560px) {
                display: inline;
                text-align: left;
            }
        }
    }

    &__quest__title {
        font-size: 3rem;
        font-weight: 700;
        @include media-max(560px) {
            font-size: 1.4rem;
            display: inline-block;
        }
    }

    &__input-button {
        display: none;

        @include media-max(520px) {
            margin-top: $padding;
            display: inline-block;
            width: 100%;
        }
    }
}
