.button {
    @extend .button-reset;

    font-size: 1.6rem;
    font-weight: normal;
    display: inline-block;
    padding: $padding - 2 $padding * 2.5;
    color: #FFF;
    border-radius: $border-radius;
    background-color: $accent-color;
    box-shadow: 0 0.7rem 3rem rgba(62, 65, 91, 0.2);
    transition: background-color $transition, transform $transition;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;

    @include media-max(365px) {
        white-space: normal;
        text-align: center;
    }

    &:hover {
        background-color: darken($accent-color, 17%);
        //background-image: linear-gradient(to top, #1166be 0%, #2588cb 100%);
    }
    &:active  {
        transform: scale(0.95)
    }
}
