.block--personals {
    margin-top: $padding * 6.25;
}

.cart-slider {
    margin-top: $padding * 2.5;
    position: relative;

    @include media-max(1260px) {
        padding: 0 40px;
    }
    @include media-max(620px) {
        padding: 0 28px;
        margin-top: $padding;
    }
    @include media-max(425px) {
        margin-left: -26px;
        margin-right: -26px;
        width: auto;
    }

    &__item {
        width: calc(25% - 22px);
        display: block;
        margin-right: 15px;
        margin-left: 15px;
        padding-bottom: $padding * 1.5;

        @include media-max(1140px) {
            width: calc(33.3333% - 22px);
        }

        @include media-max(860px) {
            width: calc(50% - 15px);
        }

        @include media-max(680px) {
            width: 100%;
            min-width: 100%;
        }
    }

    &__photo {
        background-color: $content-bg-color;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 290px;
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    &__title {
        font-weight: 700;
        color: $font-color-black;
        line-height: 2.2rem;
        margin-bottom: $padding * 0.5;
    }

    &__descr {
        font-weight: 600;
        font-size: 1.4rem;
        font-family: 'OpenSans';
        line-height: 1.2;
        display: inline-block;
    }

    &__button {

        &--prev {
            top: 107px;
            left: -40px;

            @include media-max(1260px) {
                left: 0;
            }
        }
        &--next {
            right: -40px;
            top: 107px;

            @include media-max(1260px) {
                right: 0;
            }
        }
    }
}
