.block--personals {
    margin-top: $padding * 6.25;
}

.cart-slider {
    margin-top: $padding * 2.5;
    position: relative;

    @include media-max(1260px) {

    }
    @include media-max(620px) {
        padding: 0 0px;
        margin-top: $padding;
    }


    &__list {
        @include media-max(769px) {
            margin: 0 auto;
            max-width: calc(255px + 20px + 255px);
        }
        @include media-max(570px) {
            width: 95%;
            max-width: 269px;
        }
    }

    &__item {
        display: block;
        padding-bottom: $padding * 1.5;

        @include media-max(769px) {
            max-width: 255px;
        }

        @include media-max(680px) {
            width: 100%;
            min-width: 100%;
        }
    }

    &__photo {
        background-color: $content-bg-color;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__img {
        height: auto;
        max-width: 100% !important;
        display: block;
    }

    &__title {
        font-weight: 700;
        color: $font-color-black;
        line-height: 2.2rem;
        margin-bottom: $padding * 0.5;
    }

    &__descr {
        font-weight: 600;
        font-size: 1.4rem;
        font-family: 'OpenSans';
        line-height: 1.2;
        display: inline-block;
    }

    &__button {

        &--prev {
            top: 107px;
            left: -40px;
            transform: rotate(180deg);

            @include media-max($content-width + $padding * 2) {
                left: -33px;
            }

            @include media-max(1024px) {
                top: 85px;
            }
            @include media-max(769px) {
                top: 97px;
            }
            @include media-max(425px) {
                top: 112px;
            }
        }
        &--next {
            right: -40px;
            top: 107px;

            @include media-max($content-width + $padding * 2) {
                right: -33px;
            }
            @include media-max(1024px) {
                top: 85px;
            }
            @include media-max(769px) {
                top: 97px;
            }
            @include media-max(425px) {
                top: 112px;
            }
        }
    }
}

.cart-slider__img {
    @media screen and (min-width: $content-width + $padding * 2) {
        height: 290px;
        width: 269px !important;
    }
}

