.block--reviews {
    padding: $padding * 7.5 0;
    background-color: $content-bg-color;
    margin-top: 0;
}

.reviews {
    position: relative;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $padding 0;
    }

    &__title {
        padding-right: $padding * 1.5;
    }

    &__peoples {
        @extend .ul-reset;
    }

    &__peoples {
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    &__man {
        margin-right: 25px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        height: 76px;
        width: 76px;
        opacity: 0.7;
        transition: box-shadow $transition, opacity $transition;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: 0.85;
        }

        &.active {
            box-shadow: 0 0 0 2px #000;
            opacity: 1;
        }

        &__img {
            @extend .img-in-box;
            border: 3px solid $content-bg-color;
            border-radius: 50%;
        }
    }

    &__list-wrap {
        position: relative;
        margin: $padding * 1.75 0;
        position: relative;
    }

    &__item {
        width: 50%;
        min-height: 100%;
        //height: 190px;
        max-width: 570px;
        background-color: #fff;
        margin-right: $padding * 1.875;
        border-radius:  $border-radius;
        padding: $padding * 1.75;
        padding-left: 80px;
        position: relative;
        background: radial-gradient(30px 30px at 0 50%, rgba(0, 0, 0, 0) 40.5px, white 41.5px);

        @include media-max(1100px) {
            width: 100%;
            max-width: 100%;
        }

        &:nth-child(even) {
            padding-left: $padding * 2.5;
            padding-right: 70px;
            background: radial-gradient(30px 30px at 100% 50%, rgba(0, 0, 0, 0) 40.5px, white 41.5px);
        }

        &__name {
            font-weight: 700;
            color: $font-color-black;
            margin: 0;
        }

        &__text {
            font-weight: 400;
            font-family: 'OpenSans', sans-serif;
            color: $font-color-black;
            margin-bottom: 0;
            margin-top: $padding * 0.75;
        }

        &__data {
            font-family: 'OpenSans', sans-serif;
            font-weight: 600;
            font-size: 1.4rem;
            position: absolute;
            right: 40px;
            top: 32px;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__button {
        &:not(:last-child) {
            margin-right: $padding * 1.875;
            margin-left: $padding * 1.875;
        }
    }

    &__slider-btn {
        background-color: transparent;
        top: 50%;
        transform: translateY(-50%);

        &--prev {
            left: -40px;
            transform: translateY(-50%) rotate(180deg);
        }

        &--next {
            right: -40px;
        }
    }
}
