.block--reviews {
    padding: $padding * 6 0;
    background-color: $content-bg-color;
    margin-top: 0;

    @include media-max(768px) {
        padding: $padding * 4 0;
    }
}

.reviews {
    position: relative;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $padding 0;

        @include media-max(1024px) {
            flex-wrap: wrap;
        }
    }

    &__title {
        padding-right: $padding * 1.5;
    }

    &__peoples-container {
        overflow-x: auto;
        height: 88px;
        width: 100%;
        position: relative;

        @include media-max(1024px) {
            margin-top: $padding * 1.5;
        }
    }

    &__peoples {
        @extend .ul-reset;
        width: auto;
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-bottom: -$padding * 0.75;
        margin-right: -13px;

        @include media-max(1024px) {
            right: auto;
            left: 0;
        }
    }

    &__man {
        margin: 0 13px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        height: 76px;
        width: 76px;
        opacity: 0.7;
        transition: box-shadow $transition, opacity $transition;

        @include media-max(560px) {
            margin: 0 $padding * 0.5;
        }

        &:hover {
            opacity: 0.85;
        }

        &.active {
            box-shadow: 0 0 0 2px #000;
            opacity: 1;
        }

        &__img {
            @extend .img-in-box;
            border: 3px solid $content-bg-color;
            border-radius: 50%;
        }
    }

    &__list-wrap {
        position: relative;
        margin: $padding * 1.75 0;
        padding: 0 $padding * 2;
        position: relative;

        @include media-max(1100px) {
            width: 100%;
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
        }

        @include media-max(620px) {
            padding: 0 22px;
            margin-top: 0;
        }
    }

    &__item {
        width: calc(50% - 30px);
        min-height: 100%;
        //height: 190px;
        max-width: 570px;
        background-color: #fff;
        margin-right: $padding * 1.875;
        border-radius:  $border-radius;
        padding: $padding * 1.75;
        padding-left: 80px;
        position: relative;

        @include media-max(1100px) {
            width: 100%;
            max-width: 720px;
            padding: $padding * 1.75 $padding * 3.75;
            min-height: auto;
            height: auto;
        }
        @include media-max(520px) {
            padding: $padding * 2 $padding * 2.375;
        }

        &:nth-child(even) {
            padding-left: $padding * 2.5;
            padding-right: 70px;

            @include media-max(1100px) {
                padding: $padding * 1.75 $padding * 3.75;
            }
            @include media-max(520px) {
                padding: $padding * 2 $padding * 2.375;
            }
        }

        &__name {
            font-weight: 700;
            color: $font-color-black;
            margin: 0;
        }

        &__text {
            font-weight: 400;
            font-family: 'OpenSans', sans-serif;
            color: $font-color-black;
            margin-bottom: 0;
            margin-top: $padding * 0.75;
        }

        &__data {
            font-family: 'OpenSans', sans-serif;
            font-weight: 600;
            font-size: 1.4rem;
            position: absolute;
            right: 40px;
            top: 32px;

            @include media-max(520px) {
                position: static;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: -$padding;
    }

    &__button {
        margin-bottom: $padding;

        @include media-max(425px) {
            padding-left: $padding;
            padding-right: $padding;
            width: 100%;
        }

        &:not(:last-child) {
            margin-right: $padding * 1.875;
            margin-left: $padding * 1.875;

            @include media-max(425px) {
                margin: 0 0 $padding;
            }
        }

        &--fb {
            background-color: #0066c2;
        }
    }

    &__slider-btn {
        background-color: $content-bg-color;
        top: 50%;
        transform: translateY(-50%);

        &--prev {
            left: 6px;
            transform: translateY(-50%) rotate(180deg);

            @include media-max(1100px) {
                left: -9px;
            }
        }

        &--next {
            right: 6px;

            @include media-max(1100px) {
                right: -9px;
            }
        }
    }
}
