.contact-form {
    display: block;

    &__row {
        display: flex;
        align-items: center;
        //flex-wrap: wrap;

        @include media-max(560px) {
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
        }

        &:not(:last-of-type) {
            margin-bottom: $padding * 0.75;

            @include media-max(560px) {
                margin-bottom: $padding * 2 + 1;
            }
        }

        .input-field--small {
            @include media-max(560px) {
                width: 80%;
                max-width: 80%;
            }
        }
    }

    &__or {
        display: inline-block;
        margin: 0 6px;

        @include media-max(560px) {
            margin: $padding * 0.25 0;
        }
    }

    &__btn {
        margin-top: $padding * 1.875;
    }
}
