.block--map {
    background-color: #0059bd;
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: column;

    @include media-max(768px) {
        background-color: $content-bg-color;
    }
}

.map {
    height: 505px;
    @include media-max(560px) {
        height: 230px;
    }
}

.contacts {
    max-width: 350px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-588px, -50%);

    @include media-max(1202px) {
        left: 50px;
        transform: translate(0, -50%);
    }
    @include media-max(768px) {
        position: static;
        order: -1;
        transform: none;
        margin: 0 auto;
        margin-top: $padding * 3;
        padding: 0 $padding * 1.75 $padding * 3;
        max-width: 350px + 16 * 3;
    }

    &__head {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        color: $font-color-light;
        padding: $padding * 0.75 0;
        background-image: linear-gradient(to right, #1166be 0%, #2588cb 100%);
        border-radius: $border-radius $border-radius 0 0;
    }

    &__head-mg {
        background-color: $background-color;
        display: block;
        width: 100%;
        height: 25px;
    }

    &__footer {
        background-color: $background-color;
        border-radius: 0 0 $border-radius $border-radius;
        text-align: center;
        padding-bottom: $padding * 1.875;
        padding-top: 5px;
    }

    &__content {
        display: flex;
    }

    &__right-box {
        flex: 1;
        background: radial-gradient(30px 30px at 100% 76%, rgba(0, 0, 0, 0) 40.5px, white 41.5px);
        position: relative;
        margin: -1px 0;
        min-width: 51px;

        &__icon {
            position: absolute;
            right:0;
            transform: translateX(50%);
            top: 67%;
        }
    }

    &__list {
        max-width: 300px;
        margin-right: -1px;
    }

    &__item {
        margin: -1px 0;
        color: $font-color-black;
        line-height: 2.2rem;
        width: 100%;
        position: relative;
        padding: 25px 10px 25px 60px;
        background: radial-gradient(30px 30px at 0 50%, rgba(0, 0, 0, 0) 40.5px, white 41.5px);
    }

    &__item__icon {
        position: absolute;
        left:0;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &__phone,
    &__mail {
        transition: color $transition;
        &:hover {
            text-decoration: underline;
        }
    }
}
