.header {
    height: 780px;
    background-image: url('/img/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding-top: 1px;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        background-color: $accent-color;
        background-color: #081a36;
        opacity: 0.3;
    }

    &__logo {
        margin-top: -6px;
    }

    &__top-line {
        background-color: $content-bg-color;
        color: $font-color-black;
        width: 100%;
        transition:  all  $transition;
        height: $header-height;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
    }

    &__top-line__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
    }

    &__menu {
        margin-right: $padding * 1.25;
        margin-left: auto;
    }

    &__phone {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        margin-right: $padding * 2.5;

        &:hover {
            .icon {
                opacity: 0.87;
            }
        }

        &-bold {
            font-size: 2rem;
            font-weight: 700;
            vertical-align: middle;
            line-height: 1;
            margin-left: $padding * 0.25;
            flex: 1;
        }

        .icon {
            margin-right: $padding ;
            width: 39px;
            height: 39px;
            transition: opacity $transition;
        }
    }
}

.logo {
    display: inline-block;

    &__img {
        max-width: 100%;
        display: block;
    }
}
