.header {
    min-height: 780px;
    background-image: url('/img/header-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    &__top-line {
        background-color: rgba(#363636, 0.3);
        padding: $padding * 1.25 0;
        color: #fff;
    }

    &__top-line__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        margin-top: -5px;
    }

    &__phone {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        vertical-align: middle;

        &-bold {
            font-size: 2rem;
            font-weight: 700;
            vertical-align: middle;
            line-height: 1;
            margin-left: $padding * 0.25;
            margin-top: -3px;
        }

        .icon {
            margin-right: $padding ;
        }
    }
}

.logo {
    width: 160px;
    height: 40px;
}
