.input-field-contact {
    width: 100%;
    max-width: 570px;
    position: relative;
    height: 70px;

    @include media-max(520px) {
        height: 117px;
    }
}

// then js disabled
field-contact {
    width: 100%;
    max-width: 570px;
}

.input-field {
    width: 100%;
    max-width: 570px;
    position: relative;
    font-size: 1.6rem;

    &--small {
        max-width: 260px;
    }

    &--textarea {
        .input-field__input {
            height: 25px;
            resize: vertical;
            max-height: 130px;
            padding-top: 14px;
        }
    }

    &--buttoned {
        .input-field__input {
            height: 70px;

            @include media-max(520px) {
                height: 50px;
            }
        }

        .input-field__icon {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &::after {
        content: "!";
        cursor: default;
        position: absolute;
        top: 50%;
        left: -8px;
        margin: -8px 0 0;
        font-size: 14px;
        line-height: 16px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        background-color: #f26522;
        transform: scale(0);
        transition: transform .2s cubic-bezier(.53,.25,.47,2.3);
    }

    &--error {
        &::after {
            transform: scale(1);
        }
    }

    &--error-right {
        &::after {
            left: auto;
            right: -8px;
            transform: scale(1);
        }
    }

    &__input {
        border: none;
        outline: none;
        display: flex;
        width: 100%;
        align-items: center;
        min-height: 50px;
        padding: $padding * 0.625;
        padding-left: 60px;
        background-color: $input-color;
        border-radius: 3.5rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: $font-color-black;
        transition: box-shadow $transition;

        &::placeholder {
            color: $font-color-black;
            font-weight: 500;
        }
        &:hover,
        &:active,
        &:focus {
            box-shadow: 0 0 0 1px $accent-color;
        }
    }

    &__button {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        @include media-max(520px) {
            display: none;
        }
    }

    &__mobl-btn {
        display: none;

        @include media-max(520px) {
            margin-top: 16px;
            display: inline-block;
            width: 100%;
        }
    }

    &__icon {
        position: absolute;
        left: 19px;
        top: 13px;
        width: 24px;
        height: 24px;
    }
}
