.input-field {
    width: 100%;
    max-width: 570px;
    position: relative;
    font-size: 1.6rem;

    &--small {
        max-width: 260px;
    }

    &--textarea {
        textarea {
            height: 25px;
        }
    }

    &--buttoned {
        .input-field__input {
            height: 70px;

            @include media-max(520px) {
                height: 50px;
            }
        }
    }

    &__input {
        border: none;
        outline: none;
        display: flex;
        width: 100%;
        align-items: center;
        min-height: 50px;
        padding: $padding * 0.625;
        padding-left: 60px;
        background-color: $input-color;
        border-radius: 3.5rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: $font-color-black;
        transition: box-shadow $transition;

        &::placeholder {
            color: $font-color-black;
            font-weight: 500;
        }
        &:hover,
        &:active,
        &:focus {
            box-shadow: 0 0 0 1px $accent-color;
        }
    }

    &__button {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        @include media-max(520px) {
            display: none;
        }
    }

    &__icon {
        position: absolute;
        left: 19px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
    }
}
