.lang-toggler {
    display: inline-flex;
    align-items: center;
    height: 40px;

    &__button {
        @extend .button-reset;

        width: 22px;
        overflow: hidden;
        display: block;
        font-weight: 700;
        font-size: 0;
        color: #3e415b;
        padding: 0;
        border-radius: 2rem;
        box-shadow: 0 0.5rem 1rem rgba(3, 29, 91, 0.05), 0 0 1.5rem rgba(3, 29, 91, 0.02);
        //transition: all $transition;
        text-align: center;

        &:not(:last-child) {
            margin-right: $padding * 0.75;
        }

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: $padding;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &--ru {
            &::before {
                background-image: url('/img/icons/png/russia.png');
            }

        }
        &--ro {
            &::before {
                background-image: url('/img/icons/png/romania.png');
            }
        }
        &--en {
            &::before {
                background-image: url('/img/icons/png/united-states.png');
            }
        }

        &.active {
            width: 85px;
            background-color: $background-color;
            font-size: inherit;
            height: 40px;
            line-height: 40px;
        }
    }
}
