.block--consultation {
    min-height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/img/consult-bg.jpg');
    background-repeat: no-repeat;
    position: relative;
    padding: $padding * 3 $padding;

    @include media-max(520px) {
        background-size: cover;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(55, 87, 115, 0.35);
    }
}

.consultation {
    max-width: 580px;
    width: 100%;
    color: $font-color-light;
    font-size: 1.8rem;
    font-weight: 500;
    z-index: 1;

    @include media-max(560px) {
        font-size: 2.2rem;
        text-align: left;
        font-weight: 700;
    }

    &__title {
        font-size: 3.6rem;
        margin: 0;
        line-height: 1.2;

        @include media-max(560px) {
            font-size: 2.2rem;
        }
    }

    &__text {
        margin-bottom: 0;
        margin-top: $padding * 0.25;
        margin-bottom: $padding * 1.75;
    }

    &__btn {
        display: none;
        margin-top: $padding;

        @include media-max(520px) {
            display: block;
            width: 100%;
        }
    }
}
