.tag-cloud {
    @extend .ul-reset;
    padding: $padding * 4 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &__item {
        margin: 0 $padding * 2.375 $padding * 1.25 0;
        width: auto;

        @include media-max(560px) {
            margin: 0 $padding * 2 $padding * 0.75 0;
        }
    }

    &__all {
        align-self: flex-start;
        margin-top: 6px;
        font-weight: 500;
        color: $accent-color;
        padding: $padding * 0.5;
        display: none;

        @include media-max(768px) {
            display: block;
        }
    }
}
