$primary-color: #007dc4;
$accent-color: #67a5eb;

$accent-hover-color: #1166be;

$background-color: #fff;
$content-bg-color:  #eef2f9;

$font-color: #556577;
$font-color-lighter: #8797a9;
$font-color-black: #3e415b;
$font-color-light: #fff;


$success-color: #2db86e;
$error-color: #dc5e5e;
$warning-color: #d6d60a;

$border-color: #dbe7f3;

$input-color: #fff;

$hamburger-layer-color: red;

$hamburger-types: (collapse);
$hamburger-layer-color: #007dc4;
