.icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 0;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem;
    transition: opacity $transition;

    &--circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: 55%;
        background-color: $background-color;
    }

    &--circle-big {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-size: 50%;
        background-color: $background-color;
    }

    &--fill {
        background-color: $accent-color;
        box-shadow: 0 0.5rem 1rem rgba(3, 29, 91, 0.05), 0 0 1.5rem rgba(3, 29, 91, 0.02);
    }

    &--tooth {
        background-image: url($icon-path + "tooth.svg");
    }
    &--tooth1 {
        background-image: url($icon-path + "tooth-1.svg");
    }
    &--tooth2 {
        background-image: url($icon-path + "tooth-2.svg");
    }
    &--tooth3 {
        background-image: url($icon-path + "tooth-3.svg");
    }
    &--tooth4 {
        background-image: url($icon-path + "tooth-4.svg");
    }
    &--brackets {
        background-image: url($icon-path + "brackets.svg");
    }
    &--chat {
        background-image: url($icon-path + "chat.svg");
    }
    &--decay {
        background-image: url($icon-path + "decay.svg");
    }
    &--dentures {
        background-image: url($icon-path + "dentures.svg");
    }
    &--doctor {
        background-image: url($icon-path + "doctor.svg");
    }
    &--electrocardiogram {
        background-image: url($icon-path + "electrocardiogram.svg");
    }
    &--message {
        background-image: url($icon-path + "message.svg");
    }
    &--respect {
        background-image: url($icon-path + "respect.svg");
    }
    &--technology {
        background-image: url($icon-path + "technology.svg");
    }
    &--tooth-whitening {
        background-image: url($icon-path + "tooth-whitening.svg");
    }
    &--placeholder {
        background-image: url($icon-path + "placeholder.svg");
    }
    &--phone-call-white {
        background-image: url($icon-path + "phone-call-white.svg");
        background-size: 50%;
    }
    &--phone-call {
        background-image: url($icon-path + "phone-call.svg");
    }

    &--tooth-whitening  {
        background-image: url($icon-path + "tooth-whitening.svg");
    }
    &--doctor {
        background-image: url($icon-path + "doctor.svg");
    }
    &--cardiogram {
        background-image: url($icon-path + "electrocardiogram.svg");
    }
    &--technology {
        background-image: url($icon-path + "technology.svg");
        background-size: 50%;
    }
    &--respect {
        background-image: url($icon-path + "respect.svg");
    }
    &--chevron {
        background-image: url($icon-path + "arrow.svg");
        background-size: 40%;
    }
    &--location {
        background-image: url($icon-path + "placeholder.svg");
    }
    &--fb {
        background-image: url($icon-path + "facebook-letter-logo.svg");
        background-color: #1166be;
    }
}

