.icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 0;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem;

    &--circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: 55%;
        background-color: $background-color;
    }

    &--circle-big {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-size: 50%;
        background-color: $background-color;
    }

    &--fill {
        background-color: $accent-color;
        box-shadow: 0 0.5rem 1rem rgba(3, 29, 91, 0.05), 0 0 1.5rem rgba(3, 29, 91, 0.02);
    }

    &--tooth1 {
        background-image: url($icon-path + "tooth-1.svg");
    }
    &--tooth2 {
        background-image: url($icon-path + "tooth-2.svg");
    }
    &--tooth3 {
        background-image: url($icon-path + "tooth-3.svg");
    }
    &--phone-call-white {
        background-image: url($icon-path + "phone-call-white.svg");
        background-size: 50%;
    }
    &--phone-call {
        background-image: url($icon-path + "phone-call.svg");
    }
}

